.leftTime {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

.layout {
  border: 1px solid black;
  max-width: 325px;
}

.header {
  padding: 10px;
  text-align: center;
}

.etabudget {
  font-size: 20px;
}

.greenTextClass {
  color: green;
}

.redTextClass {
  color: red;
}

.timerDisplay {
  padding: 10px;  
  cursor: pointer;
}

.sectionClass {
  padding: 10px;
  text-align: center;  
}

.verticalLine {
  border-right: 1px solid;
}