<div class="layout">
	<div class="header">
		<h3>ETA: {{totalETAStr}}
			<span [ngClass]="{'etabudget': true,'greenTextClass': (totalETABudget >=0 ), 'redTextClass': (totalETABudget < 0 )}">({{totalETABudgetStr}})</span>
		</h3>
	</div>
	<hr>
	<div class="timerDisplay" (click)="onNextMember()">
		<div class="leftTime">{{timerStr}}</div>
		<h5>
			Active Member: {{activeMember}}
		</h5>
		<h5>
			Member time budget: <span [ngClass]="{'greenTextClass': (budgetTimer >=0 ), 'redTextClass': (budgetTimer < 0 )}">{{budgetTimerStr}}</span>
		</h5>
	</div>
	<hr>
	<div>
		<button type="button" class="btn btn-primary btn-lg btn-block" (click)="onTimerOpeation()">{{ timerOperation ? 'PAUSE': 'RESUME'}}</button>
	</div>
	<hr>
	<div class="header" *ngIf="sectionRes != null">
		<div>
			current Section:
			<span>{{currentSection}}/{{sectionRes.sections.length}} - {{currentSectionName}}</span>
		</div>
		<h5>
			<span [ngClass]="{'greenTextClass': (sectionBudget >=0 ), 'redTextClass': (sectionBudget < 0 )}">{{sectionBudgetStr}}</span>
		</h5>
	</div>
	<hr>
	<div class="sectionClass" *ngIf="sectionRes != null">
		<div class="row">
			<div class="col-6 verticalLine">
				<h6>Current Round:</h6>
			</div>
			<div class="col-6">
				<h6>Current Owner:</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-6 verticalLine">
				<h5>{{currentRoundIndex}} / {{totalRound}}</h5>
			</div>
			<div class="col-6">
				<h5>{{roundOwner}}</h5>
			</div>
		</div>
	</div>
	<hr>
	<br>
	<hr>
	<div class="sectionClass">
		<div class="row">
			<div class="col-6 verticalLine">
				<h6>Slowest Members</h6>
			</div>
			<div class="col-6">
				<h6>Fatest Members</h6>
			</div>
		</div>

		<div class="row">
			<div class="col-6 verticalLine">
				<h5>{{getSlowestMember}}</h5>
			</div>
			<div class="col-6">
				<h5>{{getSlowest1Member}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-6 verticalLine">
				<h5>{{getSlowest1Member}}</h5>
			</div>
			<div class="col-6">
				<h5>{{getSlowest1Member}}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-6 verticalLine">
				<h5>{{getSlowest1Member}}</h5>
			</div>
			<div class="col-6">
				<h5>{{getSlowest1Member}}</h5>
			</div>
		</div>

	</div>
</div>